body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  touch-action: none;
  background: #dde1e7;
}

.notPressedBox{
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border-radius: 10px;
  pointer-events: auto;
  }

.degreeNotPressedBox{
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border-radius: 10px;
  pointer-events: auto;
}

.PressedButton{
  background: linear-gradient(60deg, rgba(149,0,198,1) 0%, rgba(9,121,116,1) 29%, rgba(0,255,46,1) 100%);
  }

.notPressedButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Position at the bottom of the DraggableBox */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
}

.pressedButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00FFFF;
  box-shadow: -5px -5px 9px rgba(202, 202, 202, 0.45), 5px 5px 9px rgba(94,104,121,0.3);
  filter: drop-shadow(0 0 1px #00ffffab) drop-shadow(0 0 3px #00ffffc9);
  animation: blink 5s infinite;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Position at the bottom of the DraggableBox */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
}
  
.colourFull{
  background: linear-gradient(60deg, rgba(149,0,198,1) 0%, rgba(9,121,116,1) 29%, rgba(0,255,46,1) 100%);
  animation: blink 5s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-state-1 {
  stroke: black; /* Neon blue color */
  stroke-width: 2;
  /* Adding glow effect */
  filter: drop-shadow(0 0 5px #ffc400) drop-shadow(0 0 10px #ffc400);
  animation: blink 5s infinite;
}

.line-state-2 {
  stroke: #00FFFF; /* Neon blue color */
  stroke-width: 8;
  /* Adding glow effect */
  filter: drop-shadow(0 0 5px #00FFFF) drop-shadow(0 0 10px #00FFFF) drop-shadow(0 0 15px #00FFFF);
  animation: blink 5s infinite;
}

.line-state-3 {
  stroke: #00FFFF; /* Neon blue color */
  stroke-width: 8;
  /* Adding glow effect */
  filter: drop-shadow(0 0 5px #ffc400) drop-shadow(0 0 10px #00FFFF) drop-shadow(0 0 15px #00FFFF);
  animation: blink 5s infinite;
}

.line-state-0 {
  stroke: black;
  stroke-width: 2;
}

@keyframes blink {
  0%,
  100% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
}

.popupInfo {
  position: absolute;
  bottom: 100%; /* Position the popup above the box */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears above other elements */
  white-space: nowrap;
  border-radius: 10px;
  font: 1.5em sans-serif;
}

.showPopup {
  display: block;
}

.boxtext {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 12%;
  font: 1.5em sans-serif;
}

.degreeBoxtext {
  display: grid;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  font: 1.5em sans-serif;
}

.cptext {
  display: grid;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  font: 1.5em sans-serif;
}

.startCircle{
  width: 400px;
  height: 400px; 
  background-color: rgb(43, 255, 0);
  border-radius: 50%;
  position: absolute;
  top: 9800px;
  left: 9800px;
}

.poe-container {
  position: absolute;
}

.poe-subject-box {
  position: absolute;
  width: 100px;  /* Adjust if necessary */
  height: 100px; /* Adjust if necessary */
  top: 0;
  left: 0;
  text-align: center;
}

/* Image styles */
.poe-button-img {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 1;
}

/* SVG styles */
.poe-subject-box svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.poe-subject-box.state-0 svg circle {
  stroke: grey;
  stroke-width: 0;
  fill: none;
}

.poe-subject-box.state-1 svg circle {
  stroke: rgb(0, 255, 98);
  stroke-width: 3;
  fill: none;
  filter: drop-shadow(0 0 10px rgb(43, 255, 0)) drop-shadow(0 0 5px #ffc400);
}

.poe-subject-box.state-2 svg circle {
  stroke: gold;
  stroke-width: 3;
  fill: none;
  filter: drop-shadow(0 0 10px gold) drop-shadow(0 0 5px #ffc400);
}

.button-text {
  position: relative;
  margin-top: 43%;
  z-index: 3; /* Ensure text is on top */
  font: 1em sans-serif;
}

.poe-degree-box {
  position: absolute;
  width: 150px;  /* 1.5 times the original 150px */
  height: 150px; /* 1.5 times the original 150px */
  top: 0;
  left: 0;
  text-align: center;
}

/* Image styles for PoeDegreeBox */
.poe-degree-img {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 1;
}

/* SVG styles for PoeDegreeBox */
.poe-degree-box svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.poe-degree-box.state-0 svg circle {
  stroke: grey;
  stroke-width: 0;
  fill: none;
}

.poe-degree-box.state-1 svg circle {
  stroke: rgb(157, 255, 0);
  stroke-width: 3;
  fill: none;
  filter: drop-shadow(0 0 5px rgb(137, 219, 6)) drop-shadow(0 0 3px #ffc400);
}

.poe-degree-box.state-2 svg circle {
  stroke: gold;
  stroke-width: 3;
  fill: none;
  filter: drop-shadow(0 0 5px gold) drop-shadow(0 0 3px #ffc400);
}

.degree-text {
  position: relative;
  font: 1.7em sans-serif;
  margin-top: 30%;
  z-index: 3; /* Ensure text is on top */
}

.degree-cp-count {
  position: relative;
  font: 1.5em sans-serif;
  z-index: 3; /* Ensure text is on top */
}

.poe-line {

}

.poe-line.state-0-0 {
  stroke: black;
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
}

.poe-line.state-0-1 {
  /* Styles for line state [0, 1] */
  stroke: gold;
  stroke-width: 8;
  fill: none;
  stroke-linecap: round;
}

.poe-line.state-1-0 {
    /* Styles for line state [1, 0] */
  stroke: rgb(0, 255, 98);
  stroke-width: 8;
  fill: none;
  stroke-linecap: round;
}

.poe-line.state-1-1 {
  stroke: rgb(0, 255, 98);
  stroke-width: 8;
  fill: none;
  stroke-linecap: round;
  /* Styles for line state [1, 1] */
}
